@model University.Models.Department
@{
    ViewData["Title"] = "Detail";
}

<br />
<br />

<div class="container">

    <h2>Details</h2>

    <form asp-action="Detail">
        <div class="formm-border">

            <fieldset disabled>

                <input type="hidden" asp-for="DepartmentId" />
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="DepartmentName"></label>
                    </div>
                    <div class="col-4">
                        <input asp-for="DepartmentName" class="form-control" />
                    </div>
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>


            </fieldset>

            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.DepartmentId" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-success">Back to list </a>
            </div>
        </div>
    </form>

</div>